#Fondo_gris{background-color: rgb(163, 162, 162);
            }

#Lorem{font-size: 1.2em;
margin-right:  200px;
margin-left: 200px;
}

#Fondo_gris2{background-color: rgb(163, 162, 162);  
            }
